//导航栏
.pyg_nav{
    display: flex;
    >a{
        flex: 1;
        padding: 10px;
        >img{
            width: 100%;
        }
    }
}
//商品列表
.pyg_list{
    .pyg_list_top{
        >img{
            width: 100%;
        }
    }
    .pyg_list_bottom{
        >ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            padding: 0 5px;
            margin: 0;
            
            >li{
                width: 48%;
                margin-bottom: 5px;
                padding: 0 3px;
                background-color: #fff;
                >a{
                    >img{
                        display: block;
                        margin: 0 auto;
                        width: 80%;
                    }
                    >p{
                        color: #333;
                        display: block;
                        height: 42px;
                        overflow: hidden;
                        margin: 0;
                    }
                    >span{
                        color: red;
                        font-size: 14px;
                    }
                }
                a:last-of-type{
                    display: block;
                    width: 60%;
                    margin: 0 auto;
                }
            }
        }
    }
}
