<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 第三方css文件 -->
    <link rel="stylesheet" href="./lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="./css/common.css">
    <!-- 首页css文件 -->
    <link rel="stylesheet" href="./css/index.css">
    <title>首页</title>
</head>

<body>
    <!-- 头部部分 -->
    <div class="pyg_header">
        <div class="mui-input-row mui-search">
            <input type="search" class="mui-input-clear" placeholder="">
        </div>
    </div>
    <!-- 内容部分 -->
    <div class="pyg_view">
        <!-- 轮播图 -->
        <div class="pyg_slides">
        </div>
        <!-- 导航栏 -->
        <div class="pyg_nav">
        </div>
        <!-- 商品列表 -->
        <div class="pyg_list">
        </div>
    </div>
    <!-- 底部部分 -->
    <div class="pyg_bottom">
        <a href="javascript:;">
            <span class="fa fa-home"></span>
            <p>首页</p>
        </a>
        <a href="classification.html">
            <span class="fa fa-list-ul"></span>
            <p>分类</p>
        </a>
        <a href="javascript:;">
            <span class="fa fa-cart-plus"></span>
            <p>购物车</p>
        </a>
        <a href="javascript:;">
            <span class="fa fa-user"></span>
            <p>我的</p>
        </a>
    </div>
</body>
<!-- 模板引擎 -->
<!-- 轮播图模板 -->
<script type="text/template" id="swiperTpl">
    <div class="mui-slider">
        <!-- 图片 -->
        <div class="mui-slider-group mui-slider-loop">
            <!--支持循环，需要重复图片节点-->
            <!-- 存入图片数组里面 的最后一张！ http://140.143.222.79:8888/full/banner3.png -->
            <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{data[data.length-1].image_src}}"></a></div>
            {{each data value index}}
            <div class="mui-slider-item"><a href="#"><img src="{{value.image_src}}"></a></div>
            {{/each}}
            <!--支持循环，需要重复图片节点-->
            <!-- 存放图片数组中的第 0张  -->
            <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{data[0].image_src}}"></a></div>
        </div>
        <!-- 索引器 -->
        <div class="mui-slider-indicator">
            {{each data value index}}
            {{if index == 0}}
             <div class="mui-indicator mui-active"></div>
             {{/if}}
             {{if index!= 0}}
             <div class="mui-indicator"></div>
             {{/if}}
             {{/each}}
         </div>
    </div>
</script>
<!-- 轮播图模板 -->
<!-- 导航栏模板 -->
<script type="text/template" id="navTpl">
    {{each data value index}}
    <a href="javascript:;"><img src="{{value.image_src}}" alt=""></a>
    {{/each}}
</script>
<!-- 导航栏模板 -->
<!-- 商品列表模板 -->
<script type="text/html" id="listTpl">
    {{each data value index}}
    <div class="pyg_list_top">
        <img src="{{value.group_img}}" alt="">
    </div>
    <div class="pyg_list_bottom">
        <ul>
            {{each value.goods value1 index1}}
            <li>
                <a href="javascript:;">
                    <img src="{{value1.goods_small_logo}}" alt="">
                    <p>{{value1.goods_name}}</p>
                    <span>￥{{value1.goods_price}}</span>
                </a>
                <a href="javascript:;" class="mui-btn mui-btn-primary mui-btn-outlined">
                    找相似
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</script>
<!-- 商品列表模板 -->
<!-- 模板引擎 -->
<!-- 第三方js文件 -->
<script src="./lib/mui/js/mui.js"></script>
<script src="./lib/zepto/zepto.js"></script>
<script src="./lib/arttemplate/template-web.js"></script>
<script src="./lib/iscroll/iscroll.js"></script>
<!-- 公共js文件 -->
<script src="./js/common.js"></script>
<!-- 首页js文件 -->
<script src="./js/index.js"></script>

</html>